<h1 id="welcome" class='navbar navbar-default col-md-12'>Welcome to Robot World</h1>
<li class='btn btn-default btn-lg'><a href='/robots'><i class='glyphicon glyphicon-tags'></i>  Robotz</a>
<li class='btn btn-default btn-lg'><a href='/robots/new'><i class='glyphicon glyphicon-user'></i> Nu Robot</a></li>
